In [92]:
# Importando o Pandas.
import pandas as pd
import pandas_profiling

In [93]:
df = pd.read_csv(
    "/home/ubuntu/Geracao_profiling/BaseCompleta_processada-final.csv",
    sep=",",
    usecols=["DT_NASC", "NU_ANO", "DT_NOTIFIC", "CLASSI_FIN"]
)
df.drop(df.loc[df.DT_NASC == 9].index, inplace=True)
df.drop(df.loc[df.DT_NASC == '9'].index, inplace=True)
df.head()

/home/ubuntu/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

   DT_NOTIFIC  NU_ANO     DT_NASC      CLASSI_FIN
0  2018-05-07    2018  1995-07-06          DENGUE
1  2018-02-05    2018  1982-07-05          DENGUE
2  2018-01-22    2018  1973-01-08          DENGUE
3  2018-05-07    2018  2014-08-22  OUTRAS_DOENCAS
4  2018-04-09    2018  2007-09-18  OUTRAS_DOENCAS

In [94]:
df.DT_NOTIFIC = pd.to_datetime(df.DT_NOTIFIC, format="%Y/%m/%d")
df.DT_NASC = pd.to_datetime(df.DT_NASC, format="%Y/%m/%d")
df.head()

  DT_NOTIFIC  NU_ANO    DT_NASC      CLASSI_FIN
0 2018-05-07    2018 1995-07-06          DENGUE
1 2018-02-05    2018 1982-07-05          DENGUE
2 2018-01-22    2018 1973-01-08          DENGUE
3 2018-05-07    2018 2014-08-22  OUTRAS_DOENCAS
4 2018-04-09    2018 2007-09-18  OUTRAS_DOENCAS

In [95]:
df["IDADE_DIF"] = df.DT_NOTIFIC - df.DT_NASC
df.head()

  DT_NOTIFIC  NU_ANO    DT_NASC      CLASSI_FIN  IDADE_DIF
0 2018-05-07    2018 1995-07-06          DENGUE  8341 days
1 2018-02-05    2018 1982-07-05          DENGUE 12999 days
2 2018-01-22    2018 1973-01-08          DENGUE 16450 days
3 2018-05-07    2018 2014-08-22  OUTRAS_DOENCAS  1354 days
4 2018-04-09    2018 2007-09-18  OUTRAS_DOENCAS  3856 days

In [96]:
df["IDADE"] = df.IDADE_DIF // 365

df.head()

,DT_NOTIFIC,NU_ANO,DT_NASC,CLASSI_FIN,IDADE_DIF,IDADE
0,2018-05-07,2018,1995-07-06,DENGUE,8341 days,22 days 20:26:57.534246
1,2018-02-05,2018,1982-07-05,DENGUE,12999 days,35 days 14:43:43.561643
2,2018-01-22,2018,1973-01-08,DENGUE,16450 days,45 days 01:38:37.808219
3,2018-05-07,2018,2014-08-22,OUTRAS_DOENCAS,1354 days,3 days 17:01:48.493150
4,2018-04-09,2018,2007-09-18,OUTRAS_DOENCAS,3856 days,10 days 13:32:42.739726

In [97]:
print(df.IDADE.mean())
print(df.IDADE.std())

32 days 16:39:39.365269
18 days 04:58:41.818967

In [98]:
dengue = df[df.CLASSI_FIN == "DENGUE"]
print(dengue.IDADE.mean())
print(dengue.IDADE.std())

33 days 08:51:53.399271
18 days 03:12:20.700930

In [99]:
chika = df[df.CLASSI_FIN == "CHIKUNGUNYA"]
print(chika.IDADE.mean())
print(chika.IDADE.std())

37 days 03:15:09.914029
20 days 19:11:48.274437

In [100]:
others = df[df.CLASSI_FIN == "OUTRAS_DOENCAS"]
print(others.IDADE.mean())
print(others.IDADE.std())

31 days 06:26:32.234763
18 days 06:43:47.161111