In [15]:
import pandas as pd
import pandas_profiling

In [2]:
sinan_dengue_dir_path = "/home/ubuntu/Geracao_profiling/DengueCompleto.csv"
df = pd.read_csv(sinan_dengue_dir_path, chunksize = 5000000)

In [3]:
all_datasets_sinan = []
for data in df:
    data = data[data.CRITERIO == 2]
    all_datasets_sinan.append(data)

/home/ubuntu/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (7,11,22,23,45,46,47,51,53,55,57,63,65,69,75,86,102) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/ubuntu/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (22,23,45,46,47,51,53,55,57,63,75,86,102) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df1 = pd.concat(all_datasets_sinan, join='inner')
df1.shape

(6191630, 120)

In [5]:
df2 = pd.read_csv("/home/ubuntu/Geracao_profiling/ChikungunyaCompletoSINAN.csv")
df2 = df2[df2.CRITERIO == 2]
df2.shape

/home/ubuntu/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(540912, 35)

In [6]:
# #
# df_completo = baseCompleta.join(df2)
# df_completo.head()

#versão antiga
all_datasets_sinan.append(df2)
baseCompleta = pd.concat(all_datasets_sinan, axis=0, ignore_index = True) 
baseCompleta.shape

(6732542, 120)

In [7]:
baseCompleta.head()

,Unnamed: 0,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,...,LACO_N,PLASMATICO,EVIDENCIA,PLAQ_MENOR,CON_FHD,COMPLICA,TP_SISTEMA,NDUPLIC_N,CS_FLXRET,FLXRECEBI
0,1,2,A90,2018-05-07,201819,2018,25,251620,1426.0,2504537.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN
1,3,2,A90,2018-02-05,201806,2018,25,250840,1426.0,2606399.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN
2,4,2,A90,2018-01-22,201804,2018,25,250840,1426.0,2606399.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN
3,11,2,A90,2018-05-07,201819,2018,25,251080,1422.0,2605481.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN
4,13,2,A90,2018-04-09,201815,2018,25,251080,1422.0,2605481.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN

In [9]:
array_ufs = [
    ['AC',12],['AL',27],['AP',16],['AM',13],['BA',29],['CE',23],['DF',53],['ES',32],['GO',52],['MA',21],['MT',51],
    ['MS',50],['MG',31],['PA',15],['PB',25],['PR',41],['PE',26],['PI',22],['RN',24],['RS',43],['RJ',33],['RO',11],
    ['RR',14],['SC',42],['SP',35],['SE',28],['TO',17]
]

for uf in array_ufs:
    baseCompleta.loc[baseCompleta.SG_UF_NOT == uf[1],'UF'] = uf[0]
    
baseCompleta.UF.unique()

array(['PB', 'PE', 'RN', 'AC', 'RO', 'ES', 'GO', 'MS', 'PA', 'AM', 'MG',
       'MT', 'SC', 'SP', 'SE', 'AL', 'TO', 'BA', 'AP', 'CE', 'MA', 'DF',
       'PR', 'RS', 'RJ', 'RR', 'PI'], dtype=object)

In [10]:
baseCompleta.shape

(6732542, 120)

In [11]:
baseCompleta = baseCompleta[baseCompleta.CRITERIO == 2]
baseCompleta.shape

(6732542, 120)

In [12]:
baseCompleta.to_csv("/home/ubuntu/Geracao_profiling/BaseCompleta.csv", sep=",", index = False)

In [17]:
profile = pandas_profiling.ProfileReport(baseCompleta, title='SINAN_GERAL', minimal=True)

profiling_path = "/home/ubuntu/Geracao_profiling/Profilings/Brasil"

profile_path = f'{profiling_path}/SINAN_GERAL.html'
print(f'\n### Salvando o profiling em: {profile_path}')
profile.to_file(profile_path)

### Salvando o profiling em: /home/ubuntu/Geracao_profiling/Profilings/Brasil/SINAN_GERAL.html

Summarize dataset:   0%|          | 0/128 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]